In [1]:
#Crear una lista e imprimirla
Lista=["Camion",1,2,3,"Vaca"]
Lista

['Camion', 1, 2, 3, 'Vaca']

In [2]:
#Imprimir con idnices positivos y negativos
print("EL primer elemento es",Lista[0])
print("Primer elemento con indice inverso es",Lista[-5])

EL primer elemento es Camion
Primer elemento con indice inverso es Camion

In [5]:
#Rebanar una lista
Lista2=["Perro",23,56,("Casa","Oscar"),89,91,["zapatos",3]]
Lista2[1:4]

[23, 56, ('Casa', 'Oscar')]

In [7]:
#Extender una lista de dos formas diferntes
Lista2.extend([4,29])
Lista2
Lista2.append([35,295])
Lista2

['Perro',
 23,
 56,
 ('Casa', 'Oscar'),
 89,
 91,
 ['zapatos', 3],
 4,
 29,
 4,
 29,
 [35, 295]]

In [11]:
#Modificar y eliminar elementos de la lista
Lista2[0]='Gato'
print ("La lista vieja",Lista2)
del(Lista2[1])
print("La lista nueva",Lista2)

La lista vieja ['Gato', ('Casa', 'Oscar'), 89, 91, ['zapatos', 3], 4, 29, 4, 29, [35, 295]]
La lista nueva ['Gato', 89, 91, ['zapatos', 3], 4, 29, 4, 29, [35, 295]]

In [12]:
#Dividir cadena de dos formas diferentes
"Hola buenos dias".split()

['Hola', 'buenos', 'dias']

In [15]:
"Hola buenos, dias, que tal".split(",")

['Hola buenos', ' dias', ' que tal']

In [16]:
#Copiar una lista con aliasing
Lista3 = Lista2
Lista3

['Gato', 89, 91, ['zapatos', 3], 4, 29, 4, 29, [35, 295]]

In [17]:
#Clonar una lista, es decir sin aliasing
Lista4=Lista3[:]
Lista4

['Gato', 89, 91, ['zapatos', 3], 4, 29, 4, 29, [35, 295]]

In [18]:
#Concatenar listas
Lista5=Lista3+Lista2
Lista5

['Gato',
 89,
 91,
 ['zapatos', 3],
 4,
 29,
 4,
 29,
 [35, 295],
 'Gato',
 89,
 91,
 ['zapatos', 3],
 4,
 29,
 4,
 29,
 [35, 295]]