In [2]:
#Crear un tuple e imprimirlo
Tuple_ejemplo=("cesar",1.5,5,46,98,"ramon")
Tuple_ejemplo

('cesar', 1.5, 5, 46, 98, 'ramon')

In [3]:
#Imprimir el tipo de tuple
type(Tuple_ejemplo)

tuple

In [4]:
#Imprimir cada valor del tuple
Tuple_ejemplo[0]
Tuple_ejemplo[1]
Tuple_ejemplo[2]
Tuple_ejemplo[3]
Tuple_ejemplo[4]
Tuple_ejemplo[5]

'ramon'

In [5]:
#imptimr el tipo de cada valor del tuple
type(Tuple_ejemplo[0])
type(Tuple_ejemplo[1])
type(Tuple_ejemplo[2])
type(Tuple_ejemplo[3])
type(Tuple_ejemplo[4])
type(Tuple_ejemplo[5])

str

In [6]:
#Usar la indezacion negativa
Tuple_ejemplo[-1]

'ramon'

In [12]:
#Concatenar dos tuples
Tuple1 = (1,2,3,4,5,6)
Tuple2 = ("Victoria","Francisca","Namora")
Tuple3 = Tuple1 + Tuple2 + ("Etcetera",1)
Tuple3

(1, 2, 3, 4, 5, 6, 'Victoria', 'Francisca', 'Namora', 'Etcetera', 1)

In [19]:
#Utilizar slice y medir la longitud del tuple
Tuple3[2:4]
len(Tuple3)

11

In [22]:
#Ordenar un tuple
Tuple4=(65,54,87,4,5,1,2,3,654,98)
Tuple5=sorted(Tuple4)
Tuple5

[1, 2, 3, 4, 5, 54, 65, 87, 98, 654]

In [25]:
#Hacer tuple anidada e imprimir elementos
Tuple6=(1,2,3,("Cuatro","Cinco"),6,7,("Ocho","Nueve",(10,11)))
print("El primer elemento del tuple es:", Tuple6[0])
print("El primer elemento del tuple anidado es:", Tuple6[3][1])
print("El primer elemento del tuple de segundo anidado es:", Tuple6[6][2][0])

El primer elemento del tuple es: 1
El primer elemento del tuple anidado es: Cinco
El primer elemento del tuple de segundo anidado es: 10

In [30]:
#Encontrar la posicion o el indice de un elemento
Tuple6.index(7)

5