In [3]:
#importamos la libreris, si no corre, en la consola ponemos pip install pandas
import pandas as pd
#Creamos un dataframe
dataframe=pd.DataFrame({'a':[11,21,31],'b':[21,22,23]})
#Imprimimos los encabezados del dataframe
dataframe.head()

    a   b
0  11  21
1  21  22
2  31  23

In [14]:
#imprimimrlos la sprimeras 10 filas del datafram
dataframe.head(10)

    a   b
0  11  21
1  21  22
2  31  23

In [15]:
#Obtenemos los valores de la columna a
dataframe["a"]

0    11
1    21
2    31
Name: a, dtype: int64

In [16]:
#importamos librerias
import piplite
await piplite.install(['xlrd','openpyxl'])
from pyodide.http import pyfetch
import pandas as pd

ModuleNotFoundError: No module named 'piplite'

In [17]:
df = pd.read_csv("TopSellingAlbums.csv")

In [18]:
#Irmprimrimos encabezados
df.head()

,Artist,Album,Released,Length,Genre,Music Recording Sales (millions),Claimed Sales (millions),Released.1,Soundtrack,Rating
0,Michael Jackson,Thriller,1982,0:42:19,"pop, rock, R&B",46.0,65,30-Nov-82,NaN,10.0
1,AC/DC,Back in Black,1980,0:42:11,hard rock,26.1,50,25-Jul-80,NaN,9.5
2,Pink Floyd,The Dark Side of the Moon,1973,0:42:49,progressive rock,24.2,45,01-Mar-73,NaN,9.0
3,Whitney Houston,The Bodyguard,1992,0:57:44,"R&B, soul, pop",27.4,44,17-Nov-92,Y,8.5
4,Meat Loaf,Bat Out of Hell,1977,0:46:33,"hard rock, progressive rock",20.6,43,21-Oct-77,NaN,8.0

In [19]:
#Para usar archivos de excel
df = pd.read_excel("TopSellingAlbums.xlsx")
df.head()

,Artist,Album,Released,Length,Genre,Music Recording Sales (millions),Claimed Sales (millions),Released.1,Soundtrack,Rating
0,Michael Jackson,Thriller,1982,00:42:19,"pop, rock, R&B",46.0,65,1982-11-30,NaN,10.0
1,AC/DC,Back in Black,1980,00:42:11,hard rock,26.1,50,1980-07-25,NaN,9.5
2,Pink Floyd,The Dark Side of the Moon,1973,00:42:49,progressive rock,24.2,45,1973-03-01,NaN,9.0
3,Whitney Houston,The Bodyguard,1992,00:57:44,"R&B, soul, pop",27.4,44,1992-11-17,Y,8.5
4,Meat Loaf,Bat Out of Hell,1977,00:46:33,"hard rock, progressive rock",20.6,43,1977-10-21,NaN,8.0

In [20]:
#Vemos la longitud de una fila
x = df[['Length']]
x

     Length
0  00:42:19
1  00:42:11
2  00:42:49
3  00:57:44
4  00:46:33
5  00:43:08
6  01:15:54
7  00:40:01

In [21]:
#Vemos el tipo de un dataframe
x = df[['Artist']]
type(x)

pandas.core.frame.DataFrame

In [22]:
#Accedemos a varias columnas
y = df[['Artist','Length','Genre']]
y

            Artist    Length                        Genre
0  Michael Jackson  00:42:19               pop, rock, R&B
1            AC/DC  00:42:11                    hard rock
2       Pink Floyd  00:42:49             progressive rock
3  Whitney Houston  00:57:44               R&B, soul, pop
4        Meat Loaf  00:46:33  hard rock, progressive rock
5           Eagles  00:43:08   rock, soft rock, folk rock
6         Bee Gees  01:15:54                        disco
7    Fleetwood Mac  00:40:01                    soft rock

In [23]:
#El metodo iloc nos permite acceder a uno  o mas valores por coordenadas x y y
#El metodo iloc tambien nos permite hacer el slicing o tajdas
df.iloc[0:2, 0:3]
df.loc[0:2, 'Artist':'Released']

            Artist                      Album  Released
0  Michael Jackson                   Thriller      1982
1            AC/DC              Back in Black      1980
2       Pink Floyd  The Dark Side of the Moon      1973

In [13]:
#Usamos el metodo iloc, para acceder a las columnas por nombre o por ubicación

df.iloc[0,2]
df.loc[0, 'Released']

KeyError: 0

In [12]:
nuevo_indice=['arbol','borrego','camion','dedo','elefante','f','g','h']
df_new=df
df_new.index=nuevo_indice
df_new.loc['arbol', 'Artista']
df_new.loc['rbol':'dedo', 'Artista']

KeyError: 'Artista'